<form class="form-inline" action="{{ path('search_articles') }}">
    <input type="text" class="form-control mb-2 mr-sm" id="inlineFormInputName2" name="query" placeholder="Search">
    <button style=" height: 47px; border-radius: 10px;" type="submit" class="btn btn-primary mb-2">Search</button>
</form>